// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
    font-family: 'Frutiger Next Light';
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 2.2px;
    line-height: 13.2px;

    background-color: $black;

    &-nav {
        color: $white;

        padding: 20px 0px;

        ul {
            //to change jc-c for align horizontal
            @extend %jc-c;

            li {
                &:not(:last-child) {
                    padding-right: 16px;
                }
            }
        }
    }

    &-socials {
        //to change jc-c for align vertical
        @extend %jc-c;

        padding-top: 20px;
    }
}
