// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
    background-color: $black;

    &-nav {
        color: $white;

        padding: 20px 0px;

        ul {
            // display: flex;

            li {
                &:not(:last-child) {
                    padding-right: 16px;
                }
            }
        }
    }

    &-socials {
        // display: flex;

        padding-top: 20px;
    }
}
